<app-nav></app-nav>

<div class="section">
  <div *ngFor="let product of cart">
<p>{{product.name}}</p>
<p>{{product.price}}$</p>
<p>quantity:{{product.quantity}}
  <button (click)="decreaseQuantity(product.id)">-</button>
  <button (click)="increaseQuantity(product.id)">+</button>
</p>
<button (click)="removeProduct(product)">remove all product</button>
<!-- <p>{{product}}</p> -->
  </div>
    <div>
        <h2>Your Cart</h2>
        <!-- <div *ngFor="let product of cart">
          <h3>{{ product.name }}</h3>
          <p>Price: {{ product.price }}</p>
          <p>Quantity: 
            <input 
              type="number" 
             ="product.quantity" 
              (change)="updateQuantity(product, product.quantity)" 
              min="1">
            </p>
            <p>Total: {{ product.totalPrice }}</p>
            <button (click)="removeProduct(product)">Remove</button>
        </div> -->
        <h3 *ngIf="cart.length > 0">Total Price: {{  total }}</h3>
        <button *ngIf="cart.length > 0" (click)="clearCart()">Clear Cart</button>
        <p *ngIf="cart.length === 0">Your cart is empty.</p>
      </div>
      
</div>