<a class="navbar-brand" routerLink="/home">
  <img src="..//public/٢٠٢٤٠٨٢٠١٠٠٨٥٠٤١.png" alt="Logo" width="60" height="40" class="">
  <h3> 
    Winning Round
  </h3>
</a>
<form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <h1>Creat Account in <br>Winning Round</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" width="300">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" ngModel class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-dark" [disabled]='! registerForm.valid'>Log in</button>
    </form>